@import url('https://fonts.googleapis.com/css?family=Sarabun:400,700');

h1 {
  font-size: 80px;
}

* {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
}

input[type="text"] {
  margin: auto;
  margin-top: 15px;
  display: block;
  text-align: center;
  border: 0px solid;
}

input[type="date"] {
  margin: auto;
  margin-top: 20px;
  display: block;
  text-align: center;
  border: 0px solid;
}

div {
  border-radius: 5px;
}

#theImg {
  margin-left: 13px
}

::placeholder {
  color: black;
}

#result {
  margin-top: 10px;
  width: 180px;
  height: 290px;
  margin-left: 10px;
  margin-right: 10px;
}

#date {
  width: 140px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
}

#weather {
  width: 140px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#weathericon {
  margin-top: 10px;
  width: 140px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#temp {
  margin-top: 10px;
  width: 140px;
  height: 70px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: white;
}

#box1 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box2 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box3 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box4 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box5 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box6 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#box7 {
  width: 200px;
  height: 400px;
  background-color: #EBEBEB;
  margin-left: 5px;
}

#addbutton {
  width: 100px;
  height: 100px;
  margin-left: 5px;
}

#addbutton:hover {
  cursor: pointer;
  filter: brightness(70%);
}
